* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1128px;
    margin: auto;

}

body {
    font-family: var(--font-primary);
}

:root {
    /* Primary Brand Colors */
    --primary-blue: #1A2B6D;
    --primary-light-blue: #4C67FF;

    /* Accent Colors */
    --accent-red: #FF4D61;
    --accent-yellow: #FFC100;
    --accent-green: #3CCB7F;

    /* Neutral Colors */
    --text-dark: #1D2A54;
    --text-gray: #6A7A90;
    --text-light-gray: #A0AFC2;

    /* Background Colors */
    --bg-white: #FFFFFF;
    --bg-light: #F8FCFF;
    --bg-footer: #22356B;

    /* Card Colors */
    --card-bg: #FFFFFF;
    --card-border: #E6ECF5;

    /* Form Colors */
    --input-bg: #F4F8FF;
    --input-border: #D8E2F1;
    --font-primary: 'Poppins', 'Inter', 'Nunito', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    border-bottom: 5px solid var(--accent-red);
    color: var(--bg-footer);
}

.links a {
    text-decoration: none;

}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.btnNav {
    border: none;
    padding: 7px;
    color: var(--accent-red);
}

/* styel section 2 */

.outbtn {
    border: none;
    background-color: var(--accent-red);
    color: var(--bg-white);
    padding: 15px;

    width: 150px;
    border-radius: 20px;
}

.twoBtn {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.content h1 {
    color: var(--primary-blue);

}

.section6 {
    position: relative;
    z-index: 999;

    height: 70vh;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

}

.section3 {

    margin-top: 50px;
    height: 70vh;

}

.content {

    padding-top: 40px;
}

.section {

    z-index: 999;
    position: relative;
}

.content_img {
    display: flex;
    align-items: center;

}

.image img {
    width: 700px;
    position: absolute;
    right: 0px;
    top: 10px;

}

.content p {
    width: 210px;
    color: var(--text-gray);
}

.outbtn1 {
    font-size: 20px;
    color: var(--primary-blue);
    border: none;
    background-color: var(--bg-white);
}

/* css hamza */

.wst_page h1 {
    font-size: 34px;
    width: 260px;
    line-height: 1.4;
    color: rgb(49, 69, 133);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.wst_page {
    position: relative;
}

.wst_page button {
    border: none;
    outline: none;
    background-color: rgb(255, 56, 69);
    padding: 18px 35px;
    color: white;
    border-radius: 50px;
    position: absolute;
    left: 0;
    font-weight: bold;
}

.child_web_graphic {
    width: 300px;
    height: 400px;
}

.child_web_graphic h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.4;
    font-size: 30px;
    color: #1a2b6d;
    padding-left: 40px;
}

.child_web_graphic p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* background-color: red; */
    line-height: 1.4;
    width: 210px;
}

.child_web_graphic img {
    padding-left: 20px;
    /* background-color: aqua; */
}

.child_web_graphic p,
h1 {
    padding-left: 40px;
}


.child_web_app_development h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.4;
    font-size: 30px;
    color: #1a2b6d;
    padding-left: 40px;
}

.child_web_app_development {
    width: 300px;
    height: 400px;
}

.child_web_app_development p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
    line-height: 1.4;
    width: 210px;
}

.child_web_app_development img {
    padding-left: 20px;
   
}

.child_web_app_development p,
h1 {
    padding-left: 40px;
}


.section_secend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    column-gap: 60px;
}


.container_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;

}

.container_1 div {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #ffffff;
}

 .p_h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.p_h1 p {

    font-size: 16px;
    color: var(--accent-red);
}

.p_h1 p,
h1 {

    padding-left: 10px;
}

.p_h1 h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #1a2b6d;
    font-size: 35px;
    line-height: 0.1;
}

.p_h1 p {
    padding-bottom: 30px;
}

.p_h1 {

    padding: 50px;
}

/*  */
.A_B_inputs {
    display: flex;
    flex-direction: row;
    column-gap: 8px;

}

.A_B_inputs input {
    width: 498px;
    height: 50px;
    border: none;
    outline: none;
    background-color: rgb(245, 251, 255);
    border-radius: 5px;
    margin-bottom: 15px;
    color: #1a2b6d;
}

textarea {
    background-color: rgb(245, 251, 255);
    display: flex;
    flex-direction: row;
    border: none;
    outline: none;
    color: #1a2b6d;
}

input::placeholder {
    color: rgb(49, 69, 133);
    opacity: 1;
    padding-left: 10px;
}

textarea::placeholder {
    color: rgb(49, 69, 133);
    padding: 14px;

}

.container_1_button {
    display: flex;
    align-items: center;
    margin-top: 40px;
  
    justify-content: center;
}

.container_1_button button {
    border: none;
    outline: none;
    padding: 20px 30px;
    border-radius: 70px;
    background-color: rgb(255, 56, 69);
    font-weight: bold;
    color: white;
}


footer {
    margin-top: 20px;
    width: 100%;
    height: 22vw;
    background-color: #1a2b6d;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    color: white;
}

.span_icons {
    display: flex;
    flex-direction: column;
}

.span_icons i {
    display: flex;
    flex-direction: row;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding-inline: 20px;
}

footer h1 {
    color: #ff0000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

footer span,
a {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.icons {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 45px;
    font-size: 50px;
}

.Btn button {
    border: none;
    background-color: var(--accent-red);
    padding: 10px;
    border-radius: 10px;
    color: var(--bg-white);
}

.A_B_inputs{
    display: flex;
    flex-direction: row;
    column-gap: 8px;

}
.A_B_inputs input{
    width: 498px;
    height: 50px;
    border: none;
    outline: none;
    background-color: rgb(245, 251, 255);
    border-radius: 5px;
    margin-bottom: 15px;
    color: #1a2b6d; 
}
 textarea{
background-color: rgb(245, 251, 255);
display: flex;
flex-direction: row;
border: none;
outline: none;
color: #1a2b6d; 
}

input::placeholder {
  color: rgb(49, 69, 133); 
  opacity: 1;
  padding-left: 10px;
}

textarea::placeholder {
  color: rgb(49, 69, 133);
  padding: 14px;

}

.container_button{
    display: flex;
    align-items: center;
    margin-top: 40px;
    /* background-color: #1a2b6d; */
    justify-content: center;
}
.container_button button{
    border: none;
    outline: none;
    padding: 20px 30px;
    border-radius: 70px;
    background-color: rgb(255, 56, 69);
    font-weight: bold;
    color: white;
}
.p_h1 {
     display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;

}
.p_h1 p{
        font-family: "Arial", sans-serif;
        font-size: 16px;
         color: #ff0000;
}
.p_h1 p ,h1{
    padding-left: 10px;
}
.p_h1 h1{
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #1a2b6d; 
  font-size: 35px;
 line-height: 0.1;
}
@media (max-width: 400px){
    body{
        /* background-color: rgb(46, 143, 223); */
    }
    .section{
        display: none;
    }
    .section3{
        display: none;
    }
    .section6{
        display: block;
    }
    .p_h1{
        /* background-color: #3CCB7F; */
        display: flex;
        align-items: center; 
       
    }
    .p_h1 h1{   
        font-size: 45px;
        width: max-content;
    }

    /* container_inputs */

    .A_B_inputs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .A_B_inputs input{
        width: 300px;
    }
    .C_text_area_buttonn textarea{
        width: 300px;
    }
    .C_text_area_buttonn{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    footer{
    margin-top: 20px;
    width: 100%;
    height: 100vw;
    background-color: #1a2b6d;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    border: 1px solid #000;
    color: white;
    padding: 20px;
    }
    footer a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 40px;
    padding-inline: 20px;
}

footer h1 {
    color: #ff0000;
    font-family: Arial,
    Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
footer i{
    font-size: 35px;
}
.span_icons span{
    padding-top: 10px;
}
/* section6 */
.section_secend{
    background-color: var(--accent-red);
    width: 100%;
    height: 150vw;
    display: none;
    /* display: flex; */
    flex-direction: column;
}

.wst_page{
    background-color: #3CCB7F;
    height: 40vw;
    width: max-content;
    display: flex;
    align-items: start;
    justify-content: center;
    transform: translateY(-290px);
}
.wst_page h1 {
    font-size: 25px;
    text-align: center;
    width: 260px;
    line-height: 1.4;
    color: rgb(49, 69, 133);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.wst_page button {
    border: none;
    outline: none;
    background-color: rgb(255, 56, 69);
    padding: 18px 35px;
    color: white;
    border-radius: 50px;
    position: absolute;
    left: 50px;
    top: 130px;
    font-weight: bold;
    display: none;
}
.section6{
    display: none;
}
}




.Mbtn {
    display: none;
}

@media(max-width : 400px) {
    .links {
        background-color: var(--bg-footer);
        position: absolute;
        flex-direction: column;
        width: 300px;
        height: 200px;
        left: -50vh;
        right: 40px;
        top: 60px;
        row-gap: 20px;
        border-radius: 8px;
        transition: 1s;
    }

    .Mbtn {
        display: block;
        border: none;
        padding: 8px;
        border-radius: 9px;
        color: var(--bg-white);
        width: 100px;
        background-color: var(--accent-red);
    }

    .links a {
        color: var(--bg-light);
    }

    .contanct {
        display: none;
    }

    i {
        font-size: 2rem;
        color: var(--accent-red);
    }

    #menu:checked~.links {
        left: 50px;

    }

    .image {
        display: none;
    }

    .content_img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .section_secend {
        flex-direction: column;
    }
    
.container_1 {
    row-gap: 40px;
  flex-direction: column;
  

}
.wst_page{
   margin-bottom: 70px;
   text-align: center;
}
.mobile  {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
}
.section6 {
    
    z-index: 999;
    row-gap: 50px;
    display: flex;
    
    
    height: 200vh;

}





}
